[client]
user=root
password="{{mysql_root_password}}"

[mysql]
user=root
password="{{mysql_root_password}}"

[mysqldump]
user=root
password="{{mysql_root_password}}"

[mysqldiff]
user=root
password="{{mysql_root_password}}"
