[mysqld]
{% if mysql_bind_address is defined and mysql_bind_address != "no" and mysql_bind_address != False %}
bind-address = {{ mysql_bind_address }}
{% endif %}
innodb_file_per_table={{ mysql_innodb_file_per_table }}

{% if mysql_replication_enable %}
log_bin = /var/log/mysql/mysql-bin.log
{% for s in mysql_replication_servers %}
{% if s.host == inventory_hostname %}
server-id = {{s.id}}
auto-increment-increment = {{s.autoIncrementIndex | default(loop.length)}}
auto-increment-offset = {{s.autoIncrementOffset | default(loop.index0)}}
{% endif %}
{% endfor %}
{% endif %}